  <script type="text/ng-template" id="candidate-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
  </script>

<div id="candidate-page" class="liberty2" ng-controller="CivicsController as vm">
  <br><br><br>
  <div class="container-fluid" id="candidates">
    <h4 ng-if="vm.user.currentUser.voteInfo.elections == undefined" class="chelsea" id="construction"> Enter your address
    <a class="chelsea" ui-sref="votePage">here </a>to find out election information in your area </h4>
    <span ng-if="vm.user.currentUser.voteInfo.elections">
      <div class="chelsea candidates-title"> Check back soon for information on upcoming elections! </div>
      <hr width="65%">
      <div class="chelsea candidates-title"> Previous Elections </div>
        <uib-accordion close-others="vm.oneAtATime">
          <uib-accordion-group class="acc chelsea" ng-if="election.office != undefined" heading="{{election.office}}" ng-repeat="election in vm.user.currentUser.voteInfo.elections">
            <div class="election-info"> District:</div> <div class="candidate-info"> {{election.district.name}} ({{election.district.scope}})</div> <br>
            <div class="election-info" > Candidates:  </div>
            <div ng-repeat="candidate in election.candidates">
              <div class="candidate-info"><a ng-click="vm.user.addElectionClick(election.office, candidate.name, candidate.party)" target="_blank" href="{{candidate.channels[0].id}}"> {{candidate.name}}
                </a> ({{candidate.party}})
              </div>

              <!-- <div> {{candidate.party}} </div> -->
            </div>
          </uib-accordion-group>

        </uib-accordion>
      </span>

  </div>


</div>
