<script type="text/ng-template" id="loginModal.html">
  <div id="loginWhole" >
    <div class="modal-header">
      <h4 class="modal-title" id="loginLabel">Login to <span class="play"><em>Inform</em></span></h4>
    </div>
    <div class="modal-body login-body">
      <form id="log" class="pure-form center" ng-submit="logInUser()">
        <fieldset class="pure-group center">
          <input ng-model="auth.email" type="email" class="email form-control" placeholder="Email" aria-describedby="basic-addon1"><br>
          <input ng-model="auth.password" type="password" class="password form-control" placeholder="Password" aria-describedby="basic-addon1"><br>
        <div id="login-buttons">
          <button type="button" class="modal-btn btn btn-default" ng-click="cancel()">Close</button>
          <button type="submit" class="modal-btn btn btn-{{color}}" >Submit</button>
        </div>
        </fieldset>
      </form>
    </div>
  </div>
</script>


<script type="text/ng-template" id="startedModal.html">
  <div id="startedWhole">
    <div class="modal-header">
      <h4 class="modal-title" id="startedLabel">What is <span class="play"><em>Inform</em></span>?</h4>
    </div>
    <div class="modal-body">
      <p class="text"><span class="play">Inform</span> is a website meant to help voters gather bipartisan information about the US political system. Our
      goal is to help voters be as informed as possible on both sides of every issue and to make voting easier and
      more fun!</p>
      <p class="text">Inform SCORE.</p>
      <p class="text"> Your inform SCORE is calculated using an algorithm that takes all your interactions on our site into
      consideration. The more articles you read from both sides, the higher your inform SCORE! You also get points for
      sharing articles from both sides and for finding your polling place. For more information on our algorithm,
      click HERE. </p>
    </div>
    <div class="modal-footer" id="started-footer">
      <button type="button" class="btn modal-btn btn-default" ng-click="cancel()">Close</button>
      <span type="button" class="btn modal-btn btn-{{color}}" ng-click="getStarted()">Sign Up</span>
    </div>
  </div>
</script>

<script type="text/ng-template" id="signUpModal.html">
  <div id="loginWhole" >
    <div class="modal-header">
      <h4 class="modal-title" id="signUpLabel">Sign up for <span class="play"><em>Inform</em></span></h4>
    </div>
    <div class="modal-body login-body">
      <form id="userCreate" class="pure-form center" ng-submit="createUser()">
        <fieldset class="pure-group center">
          <input type="text" ng-model="user.first_name"   class="first_name form-control" placeholder="First Name" aria-describedby="basic-addon1"><br>
          <input type="text" ng-model="user.last_name"    class="last_name form-control" placeholder="Last Name" aria-describedby="basic-addon1"><br>
          <input type="email"    ng-model="user.email"    class="email form-control" aria-describedby="basic-addon1" placeholder="email"><br>
          <input type="date" ng-model="user.dob"          class="dob form-control" placeholder="" aria-describedby="basic-addon1"><br>
          <input type="password" ng-model="user.password" class="password form-control" placeholder="Password" aria-describedby="basic-addon1"><br>
          <button type="button" class="modal-btn btn btn-default" ng-click="cancel()">Close</button>
          <button type="submit" class="modal-btn btn btn-{{color}}" >Submit</button>
        </fieldset>
      </form>
    </div>
  </div>f
</script>

<div class="container-fluid" id="landing" ng-controller="ModalController">
  <div class="container" id="landing-mid">
    <div id="quoteContainer" class="animated fadeInDown">
      <div id="quote" > “Democracy cannot succeed unless those who express their choice are prepared to choose wisely. The real safeguard of democracy, therefore, is education.”
      ― Franklin D. Roosevelt </div>
    </div>
    <div id="intro-buttons" ng-if="showLoginButtons"  class="fadeIn animated">
      <span ng-click="openLogin()" class="intro btn btn-default">  Login</span>      <!-- <span ng-show="session.isLoggedIn" ng-bind="'Hello ' + session.currentUser.name"></span> -->
      <span id="started" ng-click="openStarted()" class="intro btn btn-default" > Get Started </span>
    </div>
  </div>
</div>





