<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header navbar-brand">
      <!-- <span role="presentation" ui-sref-active="active"> -->
        <!-- <a ui-sref="profilePage">Profile ( {{vm.user.name}} )</a> -->
        <div ng-controller="DropdownController as dd" ng-init="dd.loadData()">

          <span  uib-dropdown on-toggle="toggled(open)" >
            <a id="dropdown" class="btn btn-default" id="user" href id="simple-dropdown" uib-dropdown-toggle ng-click="isCollapsed = !isCollapsed">
              {{dd.user.currentUser.firstName}} ( {{dd.user.currentUser.points}} )  <span class="caret"></span>
            </a>
            <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown" uib-collapse="!isCollapsed">
              <li role="menuitem">
                <a class="chelsea" href> Profile</a>
              </li>
              <li role="menuitem">
                <a class="chelsea" ng-click="dd.auth.logOut()" ui-sref="landingPage">Logout</a>
              </li>
            </ul>
          </span>
        </div>
       <!-- </span> -->
    </div>

    <div class="collapse navbar-collapse">
      <h2 class="nav navbar-nav play" id="nav-inform"> I N F O R M <small><em> yourself</em></small></h2>
      <ul class="nav navbar-nav navbar-right" id="options">
        <li class="nav-options" role="presentation" ui-sref-active="active">
          <a class="chelsea" ui-sref="feedPage">News Feed</a>
        </li>
        <li class="nav-options" role="presentation" ui-sref-active="active">
          <a class="chelsea" ui-sref="candidatesPage">Candidates</a>
        </li>
        <li class="nav-options" role="presentation" ui-sref-active="active">
          <a class="chelsea" ui-sref="pollingPage">Votes</a>
        </li>
      </ul>
      <div id="search-nav" ng-controller="FeedController as fd" >
        <form class="navbar-form navbar-right" role="search" ng-submit="fd.search(fd.query)">
          <div class="form-group">
            <input type="text" ng-model="fd.query" class="form-control chelsea" placeholder="Voting">
          </div>&nbsp;&nbsp;
          <button type="submit" class="btn btn-warning chelsea">Search for News</button>
        </form>
      </div>
    </div>
  </div>

</nav>
