<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header navbar-brand">
        <div ng-controller="DropdownController as dd" ng-init="dd.loadData()">
          <span  uib-dropdown on-toggle="toggled(open)" >
            <a id="dropdown" class="btn btn-default" id="user" href id="simple-dropdown" uib-dropdown-toggle ng-click="dd.isCollapsed = !dd.isCollapsed">
              {{dd.user.currentUser.firstName}} ( {{dd.user.currentUser.points}} )  &nbsp;<span class="caret"></span>
            </a>
            <ul id="dd" uib-dropdown-menu aria-labelledby="simple-dropdown" uib-collapse="dd.isCollapsed">
              <li class="dd-color" role="menuitem">
                <a class="chelsea dropdown-item" ui-sref="profilePage"> Profile</a>
              </li>
              <li class="dd-color" role="menuitem">
                <a class="chelsea dropdown-item" ui-sref="votePage"> Vote</a>
              </li>
              <li class="dd-color" role="menuitem">
                <a class="chelsea dropdown-item" ui-sref="friendsPage"> Friends</a>
              </li>
              <li id="divide" class="divider"></li>
              <li class="dd-color" role="menuitem">
                <a class="chelsea dropdown-item" ng-click="dd.auth.logOut()" ui-sref="landingPage">Logout</a>
              </li>
            </ul>
          </span>
        </div>
    </div>

    <div class="collapse navbar-collapse">
      <h2 class="nav navbar-nav play" id="nav-inform"> I N F O R M <small><em> yourself</em></small></h2>
      <ul class="nav navbar-nav navbar-right" id="options">
        <li class="nav-options" role="presentation" ui-sref-active="active">
          <a class="chelsea" ui-sref="feedPage">News</a>
        </li>
        <li class="nav-options" role="presentation" ui-sref-active="active">
          <a class="chelsea" ui-sref="candidatesPage">Elections</a>
        </li>
        <li class="nav-options" role="presentation" ui-sref-active="active">
          <a class="chelsea" ui-sref="propositionsPage">State Propositions</a>
        </li>
<!--         <li class="nav-options" role="presentation" ui-sref-active="active">
          <a class="chelsea" ui-sref="votePage">Vote</a>
        </li> -->
      </ul>
      <div id="search-nav" ng-controller="FeedController as fd" >
        <form class="navbar-form navbar-right" role="search" ng-submit="fd.search(fd.query)">
          <div class="form-group">
            <input type="text" ng-model="fd.query" class="form-control chelsea" placeholder="Barack Obama">
          </div>&nbsp;&nbsp;
          <button type="submit" id="search-nav-btn" class="btn btn-warning chelsea">Search for News</button>
        </form>
      </div>
    </div>
  </div>

</nav>
