<div class="liberty2" ng-controller="ProfileController as vm">
  <br><br><br>
  <div class="container-fluid" id="profile">
    <h2 class="chelsea" id="profile-title">{{vm.user.currentUser.firstName}}'s Profile</h2>
    <div id="profile-info" class="chelsea">
      <div class="user-category"> First Name: </div><div class="user-info"> {{vm.user.currentUser.firstName}} </div><br>
      <div class="user-category"> Last Name: </div><div class="user-info"> {{vm.user.currentUser.lastName}} </div><br>
      <div class="user-category"> Email: </div><div class="user-info"> {{vm.user.currentUser.email}} </div><br>
      <div class="user-category"> Birthday: </div><div class="user-info"> {{vm.user.currentUser.dob | amDateFormat:'MMMM Do, YYYY'}} </div><br>
      <div ng-if="vm.user.currentUser.address" id="user-address" class="user-category"> Address: </div><div ng-if="vm.user.currentUser.address" class="user-info"> {{vm.user.currentUser.address}} </div><br ng-if="vm.user.currentUser.address">
      <div class="user-category red"> Inform Points: </div><div class="user-info red"> {{vm.user.currentUser.points}} <button class="btn" id="learn-more" ng-click="vm.openAlgorithm()">Learn more </button></div><br>
    </div><br>
    <div id="query-info">
      <h4 class="chelsea" id="query-title"> Search History </h4>
      <div class="chelsea" id="no-searches" ng-if="vm.user.currentUser.queries.length == 0"> No searches yet! Use the navbar at the top of the page to search for news.</div>
      <div class="bars chelsea" ng-repeat="query in vm.user.currentUser.queries  | startFrom:vm.currentPage*vm.pageSize | limitTo:vm.pageSize">
        <div class="query-param"> "{{query.queryInput}}" </div>
        articles with positive sentiment
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="query.positiveClick" aria-valuemin="0" aria-valuemax="100" style="width: {{query.positiveClick * 5}}%;">
            {{query.positiveClick}} reads
          </div>
        </div>
        articles with negative sentiment
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="query.negativeClick" aria-valuemin="0" aria-valuemax="100" style="width: {{query.negativeClick * 5}}%;">
             {{query.negativeClick}} reads
          </div>
        </div>
        articles with neutral sentiment
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="query.neutralClick" aria-valuemin="0" aria-valuemax="100" style="width: {{query.neutralClick * 5}}%;">
             {{query.neutralClick}} reads
          </div>
        </div>
        <br>
      </div>
      <div id="data-buttons" ng-if="vm.user.currentUser.queries.length > 3">
        <button class="btn" ng-disabled="vm.currentPage == 0" ng-click="vm.currentPage=vm.currentPage-1">
            Previous
        </button>
        <button class="btn" ng-disabled="vm.currentPage >= vm.user.currentUser.queries.length/vm.pageSize - 1" ng-click="vm.currentPage=vm.currentPage+1">
            Next
        </button>
      </div>
   </div>
  </div>
</div>

<script type="text/ng-template" id="algorithmModal.html">
  <div id="loginWhole" >
    <div class="modal-header">
      <h4 class="modal-title" id="loginLabel">About your <em>INFORM</em> score<span class="play"></h4>
    </div>
    <div class="modal-body login-body">
      Your <em> INFORM </em> score is calculated using an original algorith to encourage users to be informed on both sides of every issue. You can gain points in the following ways: <br>
        <ul>
          <li> 10 points for signing up </li>
          <li> 5 points for searching for your polling place the first time (you do not get extra points for a change of address) </li>
          <li> 1 point for reading any article on a <em> new </em> topic </li>
          <li> 1 point every time the amount of positive and negative sentiment articles you read on any topic are the same </li>
        </ul>
      You can also lose points in the following ways: <br>
        <ul>
          <li> The difference between the positive and negative sentiment articles you read on any given topic is more then 5</li>
        </ul>
    </div>
    <div class="modal-footer" id="algorithm-footer">
      <button type="button" id="algorithm-close" class="modal-btn btn btn-{{color}}" ng-click="ok()">Close</button>
    </div>
  </div>
</script>
