@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Yantramanav:300);

body {
  margin: 0px;
}

.content {
  height: 100%;
}

#landing {
  width: 100% !important;
  background-image: url("/assets/img/people_flag_final.jpg");
  background-size: cover;
  height: 100vh;
}

#landing-mid {
  position: absolute;
  margin-left: 30%;
  margin-top: 15%;
  width: 500px;
}
#quote {
  font-family: Yantramanav;
  text-align: center;
 /* width: 480px;*/
  position: relative;
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.6);
/*  margin: 3px;*/
  border-radius: 9px;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;

}

#quoteContainer {
    border-radius: 9px;
    /*border: 2px solid white;*/
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px black;
}

#intro-buttons {
  width: 250px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  position: relative;

}
.nav-right {
  float: right;
}

.navbar {
  border-radius: 0px;
}

#nav-inform {
  color: white;
  text-alight: center;
  padding-top: 7px;
  margin-left: 15%;
}
.play {
  font-family: Play;
}

.nav-options {
  display: inline-block;
}
.intro {
  margin: 10px;
  box-shadow: 3px 3px 3px black;
}
.modal-btn{
  box-shadow: 3px 3px 3px black;
  margin-right: 10px;
}
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: 35%;
}

#started-footer {
  width: 350px;
  margin: 0 auto;
}
#login-footer{
  width: 200px;
  margin: 0 auto;

}
.modal-header {
  width: 250px;
  margin: 0 auto;
    text-align: center;

}

.text {
  font-family:Yantramanav;
}

.login-body{
  width: 60%;
  margin: 0 auto;
}

.modal-header {
  font-family:Yantramanav;
}

